// component content widget different states
.content-widget {
  border-left-width: 0.25rem;
  border-left-style: solid;
  color: var(--content-widget-text);
  & > div p {
    color: var(--content-widget-text);
  }
  &.missing-something {
    border-color: var(--body-color);
    background-color: var(--body-background);
  }
  &.notice {
    border-color: var(--notice-color);
    background-color: var(--notice-background);
  }
  &.warning {
    border-color: var(--warning-color);
    background-color: var(--warning-background);
  }
  &.bad {
    border-color: var(--bad-color);
    background-color: var(--bad-background);
  }
  &.success {
    border-color: var(--success-color);
    background-color: var(--success-background);
  }
  a {
    cursor: pointer;
    text-decoration: underline;
    margin: 0 0.4rem;
    color: var(--link-color);
    &:hover {
      color: var(--link-color-hover);
    }
  }
  img {
    max-width: 1.5rem;
    margin-right: 0.625rem;
  }
}
// search widget
header {
  box-shadow: var(--shadow-lp);
  .search-input {
    background: var(--search-input-background);
    color: var(--search-input-color);
    border-radius: 24px;
    padding: 12px 20px;
    &:focus {
      outline: 1px solid var(--primary-focus);
    }
    &:focus-within {
      outline: 1px solid var(--primary);
    }
  }
  .searchcomponent {
    form.ais-SearchBox-form {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    input.ais-SearchBox-input {
      margin-right: auto;
      width: 100%;
    }

    .ais-SearchBox.input {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: transparent;
    }
  }
  .hit-description {
    & > *:not(p) {
      display: none;
    }
  }
  .hit-block {
    z-index: 1;
    padding: 8px 32px;
    &:hover {
      background-color: var(--search-input-background);
    }
  }
  .ais-Highlight-highlighted {
    background-color: var(--primary);
    color: var(--body-background);
    font-weight: bolder;
    padding-right: 2px;
    padding-left: 2px;
  }
}

// Search page

.breadcrumbs .search-tags {
  background: var(--body-background);
  border: 1px solid var(--jumpto-border-color);
  border-radius: 16px;
  padding: 4px 16px;
  font-family: "Inter";
  color: var(--tags-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  &:hover {
    background: var(--scroll-bg);
    color: var(--tags-color);
  }
}

em.ais-Highlight-highlighted {
  font-weight: bold;
}

//mobile search

.mobile-search-component form.ais-SearchBox-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mobile-search-component input.ais-SearchBox-input {
  width: 100%;
}

.maincontent {
  h2,
  h3 {
    margin-bottom: 1.5rem;
  }
  ul,
  ol {
    li {
      margin-left: 1.875rem;
      &:last-child {
        margin-bottom: 0.75rem;
      }
    }
  }
  p {
    color: var(--body-text);
    &:last-child {
      margin-bottom: 0;
    }
  }
  figure {
    img {
      margin: var(--space8) auto;
    }
  }

  a {
    text-decoration: underline;
    color: var(--link-color);
    cursor: pointer;
    &:hover {
      color: var(--link-color-hover);
    }
    &:visited {
      color: var(--visited-color);
      &:hover {
        color: var(--visited-color-hover);
      }
    }
    &:focus {
      text-decoration: none;
    }
    &:focus-within {
      color: var(--link-color-hover);
      text-decoration: none;
    }
  }
  .kontent-table {
    margin-bottom: var(--space8);
    table {
      tr {
        td {
          flex-grow: 1;
          display: flex;
          flex: 1 1;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        &:first-child {
          font-family: Space Grotesk;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }
  .tablelp {
    text-align: center;
    margin-top: var(--space8);
    th {
      font-family: "Space Grotesk", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
    }
    tr {
      display: flex;
      justify-content: space-between;
      align-content: center;
      justify-content: start;
      flex-grow: 1;
      flex: 1;
      td {
        &:first-child {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      &:first-child {
        td {
          background: var(--table-top-background);
          font-weight: 500;
        }
      }
      &:nth-child(odd):not(:first-child) {
        td {
          background: var(--table-odd-background);
        }
      }
      &:nth-child(even):not(:first-child) {
        td {
          background: var(--table-even-background);
        }
      }
    }
  }
  .table-style {
    tr {
      flex-wrap: nowrap;
    }
    table td,
    table th {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 14px;
    }
    thead {
      display: inline-block;
      // padding-right: 15px;
      width: 100%;
    }
    tbody {
      display: block;
      width: 100%;
    }
    thead.fixedHeader tr {
      position: relative;
    }
  }
  .fix-width {
    // column width
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    height: 60vh;
  }

  .table {
    width: 100%;
    margin-bottom: 0;
    max-width: none;
  }

  // Scrollbar Override
  .scroll-inner {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparentize(#ccc, 0.7);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: transparentize(#ccc, 0.5);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }

  .table-style {
    display: inline-grid;
    tr {
      min-height: 86px;
    }
    td,
    th {
      min-width: 80px;
      flex: 1;
    }
  }
  .metrics {
    td,
    th {
      &:nth-child(4) {
        flex-grow: 3;
      }
    }
  }
  .messaging-channels {
    svg {
      width: 24px;
    }
    td,
    th {
      &:first-child {
        min-width: 200px;
      }
    }
  }

  .table-search-filter {
    background: #ffffff;
    border: 1px solid #afb3c0;
    box-sizing: border-box;
    border-radius: 40px;
    max-width: 304px;
    max-height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 18px;
  }
  .post-content {
    & > a {
      word-break: break-all;
    }
  }
  // make subtitle data have the same font size
  #subtitle {
    .post-content {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      & > * {
        margin: 0.5rem 0 0 0;
        font-size: 1.125rem;
      }
      // delete title from subtitle
      h2 {
        display: none;
      }
    }
  }
  time.article__meta-time {
    font-size: 0.8125rem;
    color: var(--text-lighter);
  }
  .gatsby-image-wrapper {
    img {
      filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.08));
    }
  }
}
