body.light {
  header {
    box-shadow: inset 0 -0.0625rem 0 rgba(167, 172, 190, 0.3);
  }
}
body.dark {
  header {
    box-shadow: inset 0 -0.0625rem 0 rgb(167 172 190 / 30%);
  }
}
.lpbtn {
  padding: 0.75rem 1.875rem;
  border-radius: 6.25rem;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.content-widget {
  border-left-width: 0.25rem;
  border-left-style: solid;
  color: var(--content-widget-text);
  & > div p {
    color: var(--content-widget-text);
  }
  &.missing-something {
    border-color: var(--missing-something-color);
    background-color: var(--missing-something-background);
  }
  &.notice {
    border-color: var(--notice-color);
    background-color: var(--notice-background);
  }
  &.warning {
    border-color: var(--warning-color);
    background-color: var(--warning-background);
  }
  &.bad {
    border-color: var(--bad-color);
    background-color: var(--bad-background);
  }
  &.success {
    border-color: var(--success-color);
    background-color: var(--success-background);
  }
  a {
    cursor: pointer;
    text-decoration: underline;
    margin: 0 0.4rem;
    color: var(--link-color);
  }
  img {
    max-width: 1.5rem;
    margin-right: 0.625rem;
  }
}
.searchcomponent {
  form.ais-SearchBox-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  input.ais-SearchBox-input {
    margin-right: auto;
    width: 100%;
  }

  .ais-SearchBox.input {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
  }
}
.maincontent {
  ul,
  ol {
    li {
      margin-left: 1.875rem;
      &:last-child {
        margin-bottom: 0.875rem;
      }
    }
  }
  p {
    color: var(--body-text);
  }
  figure {
    img {
      margin: 2rem auto;
    }
  }
  a {
    text-decoration: underline;
    color: var(--link-color);
    &:hover {
      color: var(--link-color-hover);
    }
  }
  h3.anchor-address {
    margin-top: var(--space12);
  }
  .tablelp {
    text-align: center;
    margin-top: var(--space8);
    tr {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      align-content: center;
      flex-wrap: wrap;
      td {
        flex: 1;
        &:first-child {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      &:first-child {
        td {
          background: var(--table-top-background);
          color: var(--sidebar-text);
          font-weight: 500;
        }
      }
      &:nth-child(odd):not(:first-child) {
        td {
          background: var(--table-odd-background);
        }
      }
      &:nth-child(even):not(:first-child) {
        td {
          background: var(--table-even-background);
        }
      }
    }
  }
  .post-content {
    & > a {
      word-break: break-all;
    }
  }
  // make subtitle data have the same font size
  #subtitle {
    .post-content {
      & > * {
        margin: 0.5rem 0 0 0;
        font-size: 1rem;
      }
      // delete title from subtitle
      h2 {
        display: none;
      }
    }
  }
  time.article__meta-time {
    font-size: 0.8125rem;
    color: var(--text-lighter);
  }
}
