body.light {
  header {
    box-shadow: inset 0px -1px 0px rgba(167, 172, 190, 0.3);
  }
}
body.dark {
  header {
    box-shadow: inset 0px -1px 0px rgb(167 172 190 / 30%);
  }
}
.content-widget {
  border-left-width: 0.25rem;
  border-left-style: solid;

  color: var(--content-widget-text);
  &.missing-something {
    border-color: var(--missing-something-color);
    background-color: var(--missing-something-background);
  }
  &.notice {
    border-color: var(--notice-color);
    background-color: var(--notice-background);
  }
  &.warning {
    border-color: var(--warning-color);
    background-color: var(--warning-background);
  }
  &.success {
    border-color: var(--success-color);
    background-color: var(--success-background);
  }
  a {
    cursor: pointer;
    text-decoration: underline;
    margin: 0 0.4rem;
    color: var(--link-color);
  }
  img {
    max-width: 1.5rem;
    margin-right: 0.625rem;
  }
}
.searchcomponent {
  form.ais-SearchBox-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  input.ais-SearchBox-input {
    margin-right: auto;
    width: 100%;
  }

  .ais-SearchBox.input {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border-color: var(--card-border);
  }
}
.maincontent {
  figure {
    img {
      margin: 2rem auto 1rem;
    }
  }
  a {
    text-decoration: underline;
    color: var(--link-color);
    &:hover {
      color: var(--link-color-hover);
    }
  }
  .tablelp {
    text-align: center;
    tr {
      display: flex;
      justify-content: space-between;
      td {
        flex: 1;
        &:first-child {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      &:first-child {
        td {
          background: var(--table-top-background);
          color: var(--sidebar-text);
          font-weight: 500;
        }
      }
      &:nth-child(odd):not(:first-child) {
        td {
          background: var(--table-odd-background);
        }
      }
      &:nth-child(even):not(:first-child) {
        td {
          background: var(--table-even-background);
        }
      }
    }
  }
  .post-content {
    & > a {
      word-break: break-all;
    }
  }
  // make subtitle data have the same font size
  #subtitle {
    .post-content {
      & > * {
        margin-bottom: 0;
        font-size: 1rem;
      }
    }
  }
  time.article__meta-time {
    font-size: 0.8125rem;
    color: #6f737c;
  }
}
