.indicators {
  .tag {
    background: #ebecef;
    border-radius: 16px;
    display: flex;
    padding: 0 8px;
    text-transform: capitalize;
    margin-bottom: var(--space4);
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}
.inner-menu {
  color: #005ef4;
  padding: 22px 32px;
  li:focus {
    font-weight: bold;
    outline: none;
  }
}
.content-body {
  overflow-wrap: anywhere;
  table {
    tr {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      &:nth-child(odd) {
        background: #f0f2fa;
      }
      &:first-child {
        background: #d6dae6;
        td {
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
          color: #34363b;
        }
      }
      td {
        padding: 8px;
        flex-basis: 10%;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        color: #494b51;
        &:nth-child(4) {
          flex-basis: 30%;
        }
      }
    }
  }
  img {
    margin-bottom: var(--space4);
  }
}
