body {
  .drawer-content {
    max-height: inherit !important;
  }
  .menu li.hover-bordered:focus a,
  .menu li.hover-bordered a:hover {
    border-color: currentColor;
  }
}
body.dark {
  header {
    box-shadow: inset 0px -1px 0px rgb(167 172 190 / 30%);
  }
}
