body {
  .max-width {
    max-width: 1784px;
    margin: 0 auto;
    @media (max-width: 1024px) {
      max-width: 100%;
      margin: inherit;
    }
    @media (min-width: 1024px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    .inner-menu {
      .menu {
        li {
          margin-bottom: 0.75rem;
          a {
            padding: 0.25rem 0.75rem;
          }
        }
      }
    }
  }
  .drawer-content {
    max-height: inherit !important;
  }
  .menu li.hover-bordered:focus a,
  .menu li.hover-bordered a:hover {
    border-color: currentColor;
  }
}
