body {
  .max-width {
    max-width: var(--max-width);
    margin: 0 auto;
    @media (max-width: 1024px) {
      max-width: 100%;
      margin: inherit;
    }
    @media (min-width: 769px) and (max-width: 1680px) {
      padding-left: var(--space8);
      padding-right: var(--space8);
    }
    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
      word-break: break-word;
    }
    .inner-menu {
      .menu {
        li {
          margin-bottom: 0.75rem;
          a {
            padding: 0.25rem 0.75rem;
            &:focus-within {
              color: var(--link-color-hover);
              border: 2px dashed var(--link-color-hover);
              border-radius: 4px !important;
            }
          }
        }
      }
    }
  }
  .drawer-content {
    max-height: inherit !important;
  }
  .drawer {
    overflow-y: visible;
    @media (min-width: 1024px) {
      overflow: unset;
    }
    @media (max-width: 767px) {
      .drawer-toggle:not(:checked) ~ .drawer-side > .drawer-overlay + * {
        visibility: hidden;
      }
    }
  }
  .drawer-end {
    overflow-x: hidden;
  }
  .drawer-toggle ~ .drawer-content {
    overflow-y: visible;
  }
  .menu li.hover-bordered a {
    border-left-width: 2px;
  }

  .menu li.hover-bordered a:hover {
    outline: 1px;
  }
  .menu li.hover-bordered:focus a {
    border-color: var(--jumpto-border-color);
  }
}
