/* toggle switch  */
body {
  background-color: var(--body-background);
  color: var(--body-text);
}

.theme-switch-wrapper .slider.round:before {
  background-image: url(../images/sun.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid var(--footer-text);
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.theme-switch-wrapper input:checked + .slider:before {
  background-image: url(../images/moon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 0.0625rem solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.25),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.18),
    0 0.125rem 0.1875rem rgba(0, 0, 0, 0.12);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  float: right;
}
.theme-switch-wrapper .theme-switch {
  display: inline-block;
  height: 1.5rem;
  position: relative;
  width: 3rem;
  text-align: right;
  margin-bottom: 0;
}
.theme-switch-wrapper .theme-switch input {
  display: none;
}
.theme-switch-wrapper .slider {
  border: 1px solid #989eae;
  background-color: var(--body-background);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.theme-switch-wrapper .slider:before {
  bottom: 2px;
  content: "";
  height: 18px;
  left: 0.1875rem;
  position: absolute;
  transition: 0.4s;
  width: 18px;
  background: var(--card-background);
  border: 0.0625rem solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  box-shadow: 0 0 0.125rem rgb(0 0 0 / 25%),
    0 0.0625rem 0.125rem rgb(0 0 0 / 18%), 0 0.125rem 0.1875rem rgb(0 0 0 / 12%);
}
.theme-switch-wrapper input:checked + .slider {
  background-color: var(--card-background);
  border: 0.0625rem solid var(--card-border);
  box-sizing: border-box;
  filter: drop-shadow(0 0 0.125rem rgba(0, 0, 0, 0.25))
    drop-shadow(0 0.0625rem 0.125rem rgba(0, 0, 0, 0.18))
    drop-shadow(0 0.125rem 0.1875rem rgba(0, 0, 0, 0.12));
}
.theme-switch-wrapper input:checked + .slider:before {
  transform: translateX(23px);
}
.theme-switch-wrapper .slider.round {
  border-radius: 1rem;
}
.theme-switch-wrapper .slider.round:before {
  border-radius: 50%;
}

.toggle-title-dark,
.toggle-title-light {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--footer-text);
  position: absolute;
  left: 120%;
  text-align: left;
  white-space: nowrap;
  display: none;
}
// .theme-switch-wrapper input + .slider:after {
//   right: -94%;
//   position: absolute;
//   font-family: Space Grotesk;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 20px;
//   display: flex;
//   align-items: center;
//   color: #5a5f72;
// }
// .theme-switch-wrapper input:checked + .slider:after {
//   content: "Dark theme";
// }
// .theme-switch-wrapper input + .slider:after {
//   content: "Light theme";
// }

.theme-switch-wrapper input:checked + .slider .toggle-title-dark {
  display: flex;
}

.theme-switch-wrapper input:not(:checked) + .slider .toggle-title-light {
  display: flex;
}
/* toggle end */
