@import "./layout";
@import "./resets";
@import "./components";
@import "./typography";
@import "./themeToggler";
@import "./variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
  --primary: #03011d;
  --primary-hover: #0d0480;
  --primary-focus: #1207a1;
  --primary-content: #03011d;
  --secondary-text: #fcfcfd;
  --link-color: #005ef4;
  --link-color-hover: #044ec5;
  --body-background: #ffffff;
  --body-text: #494b51;
  --secondary-background: #005ef4;
  --secondary-text: #fcfcfd;
  --title-text: #2a2b2e;
  --text-lighter: #6f737c;
  --footer-background: #ffffff;
  --footer-text: #0d0480;
  --table-top-background: #d6dae6;
  --table-odd-background: #f0f2fa;
  --table-even-background: #fcfcfd;
  --card-background: #ffffff;
  --card-title: #0f0943;
  --card-text: #767370;
  --card-border: rgba(0, 0, 0, 0.12);
  --cta-background: #0f0943;
  --cta-text: var(--button-text);
  --sidebar-color: #020627;
  --tags-background: #ebecef;
  --tags-color: #020627;
  --button-background: #005ef4;
  --button-background-hover: #0249bb;
  --button-text: #fcfcfd;
  --button-background-secondary: transparent;
  --button-text-secondary: #2dbae6;
  --sidebar-text: #3f4c73;
  --content-widget-text: #090c43;
  --missing-something-background: #f8f8f8;
  --missing-something-text: #000;
  --notice-background: #edf5fa;
  --notice-color: #016ba7;
  --warning-background: #fff5f5;
  --warning-color: #bf3e3e;
  --success-background: #eff2e9;
  --success-color: #5a7826;
  --box-shadow: #dadbe5e0;
  --hr: hsla(0, 0%, 0, 0.2);
}
body.dark {
  --primary: #03011d;
  --primary-hover: #0d0480;
  --primary-focus: #0d0480;
  --primary-content: #2a79ff;
  --secondary-text: #fcfcfd;
  --link-color: #2dbae6;
  --link-color-hover: #86e1fc;
  --body-background: #03011d;
  --body-text: #a7acbe;
  --secondary-background: #005ef4;
  --secondary-text: #fcfcfd;
  --title-text: #fcfcfd;
  --text-lighter: #c5c7ce;
  --footer-background: #ffffff;
  --footer-text: #0d0480;
  --table-top-background: #020627;
  --table-odd-background: #16162d;
  --table-even-background: #0a0a22;
  --card-background: #020627;
  --card-title: #f7f7f9;
  --card-text: #a7acbe;
  --card-border: #3f4c73;
  --cta-background: #005ef4;
  --cta-text: var(--button-text);
  --sidebar-color: #fcfcfd;
  --tags-background: #3f4c73;
  --tags-color: #fff;
  --button-background: #005ef4;
  --button-background-hover: #091043;
  --button-text: #fcfcfd;
  --button-background-secondary: transparent;
  --button-text-secondary: #2dbae6;
  --sidebar-text: #d6dae6;
  --content-widget-text: #dadbe6;
  --missing-something-background: var(--card-background);
  --missing-something-color: #fff;
  --notice-background: #0b2240;
  --notice-color: #2d9cdb;
  --warning-background: #311525;
  --warning-color: #eb5757;
  --success-background: #13171a;
  --success-color: #a0c125;
  --box-shadow: #000000d6;
  --hr: hsla(0, 0%, 100%, 0.2);
}
