@import "./layout";
@import "./resets";
@import "./components";
@import "./typography";
@import "./themeToggler";
@import "./variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
  --primary: #3863e5;
  --primary-hover: #0d0480;
  --primary-focus: #1207a1;
  --primary-content: #03011d;
  --secondary-text: #fcfcfd;
  --link-color: #3863e5;
  --link-color-hover: #1d4ee2;
  --body-background: #fcfcfc;
  --body-text: #292b33;
  --secondary-background: #005ef4;
  --secondary-text: #fcfcfd;
  --title-text: #2c2d30;
  --text-lighter: #6f737c;
  --footer-background: #ffffff;
  --footer-text: #0d0480;
  --table-top-background: #d6dae6;
  --table-odd-background: #f0f2fa;
  --table-even-background: #fcfcfd;
  --card-background: #fcfcfc;
  --card-title: #0f0943;
  --card-text: #767370;
  --card-border: #eeeff1;
  --cta-background: #0f0943;
  --cta-text: var(--button-text);
  --sidebar-color: var(--sidebar-text);
  --sidebar-color-active: #2c2d30;
  --tags-background: #ebecef;
  --tags-color: #020627;
  --button-background: #005ef4;
  --button-background-hover: #0249bb;
  --button-text: #fcfcfd;
  --button-background-secondary: transparent;
  --button-text-secondary: #2dbae6;
  --sidebar-text: var(--primary);
  --content-widget-text: #34363b;
  --missing-something-background: #f8f8f8;
  --missing-something-text: #000;
  --notice-background: #e6f0f7;
  --notice-color: #006bb3;
  --warning-background: #faf4f0;
  --warning-color: #d65800;
  --bad-background: #f8f1f2;
  --bad-color: #b00020;
  --success-background: #f3f5f1;
  --success-color: #008738;
  --box-shadow: #dadbe5e0;
  --search-input-background: #eeeff1;
  --search-input-color: #292b33;
  --hr: hsla(0, 0%, 0, 0.2);
  --gradient: linear-gradient(90deg, #f9c1c1 0%, #f9caaf 50.01%, #f3e1af 100%);
  --card-bg-background: linear-gradient(
    180deg,
    rgba(41, 43, 51, 0.35) 0%,
    rgba(41, 43, 51, 0.7) 100%
  );
}

body.dark {
  --primary: #3863e5;
  --primary-hover: #0d0480;
  --primary-focus: #0d0480;
  --primary-content: #2a79ff;
  --secondary-text: #fcfcfd;
  --link-color: #2dbae6;
  --link-color-hover: #86e1fc;
  --body-background: #121316;
  --body-text: #a7acbe;
  --secondary-background: #005ef4;
  --secondary-text: #fcfcfd;
  --title-text: #fcfcfd;
  --text-lighter: #c5c7ce;
  --footer-background: #ffffff;
  --footer-text: #0d0480;
  --table-top-background: #020627;
  --table-odd-background: #16162d;
  --table-even-background: #0a0a22;
  --card-background: #121316;
  --card-title: #f7f7f9;
  --card-text: #a7acbe;
  --card-border: #363944;
  --cta-background: #005ef4;
  --cta-text: var(--button-text);
  --sidebar-color: #d6dae6;
  --sidebar-color-active: #fcfcfd;
  --tags-background: #3f4c73;
  --tags-color: #fff;
  --button-background: #005ef4;
  --button-background-hover: #091043;
  --button-text: #fcfcfd;
  --button-background-secondary: transparent;
  --button-text-secondary: #2dbae6;
  --sidebar-text: var(--primary);
  --content-widget-text: #dadbe6;
  --missing-something-background: var(--card-background);
  --missing-something-color: #fff;
  --notice-background: #0b2240;
  --notice-color: #2d9cdb;
  --warning-background: #311525;
  --warning-color: #eb5757;
  --bad-background: #f8f1f2;
  --bad-color: #b00020;
  --success-background: #13171a;
  --success-color: #a0c125;
  --box-shadow: #000000d6;
  --search-input-color: #81899c;
  --search-input-background: #24262e;
  --hr: hsla(0, 0%, 100%, 0.2);
  --gradient: linear-gradient(90deg, #113546 0%, #44132e 100%);
  --card-bg-background: linear-gradient(
    180deg,
    rgba(196, 199, 212, 0.5) 0%,
    #c4c7d4 100%
  );
}
